
<!DOCTYPE html>
<style>
  nav {
    height: 150px;
    background: rgb(52,58,64);
    
  }
  a {
    text-decoration: none;
    color: white;

  }
  a:hover {
    color: rgba(255,255,255, 0.8);
  }
</style>
<body>

  <nav>
    <span>
      <a href={% url 'home' %}>Home</a>
    </span>
    <span>
      <a href={% url 'new' %}>글쓰기</a>
    </span>
    <span>
      <a class="dropdown-item" href="{% url 'signup' %}">signup</a>
    </span>
    <span>
      <a class="dropdown-item" href="{% url 'login' %}">login</a>
    </span>
  </nav>
</body>

</html>