{% extends 'base.html' %} {% block contents %}

<style>
  * {
    box-sizing: border-box;
  }
  .chunk {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: left;

    width: 50vw;

    margin: 6px;
    padding: 1em;

    border: none;
    border-radius: 6px;
    box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.2);

    transition: transform 0.5s ease-in-out;
  }
  .chunk:hover {
    transform: translateY(-2px);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .upperChunk {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .downChunk {
    width: 100%;
  }
  .date {
    margin-left: 1rem;
  }
  .more {
    color: rgba(0, 0, 0, 0.6);
  }
  .more:hover {
    color: rgba(0, 0, 0, 0.6);

  }
</style>
<body>
  <div>home</div>
  <ul class="list">
    {% for blog in blogs %}
    <div class="chunk">
      <div class="upperChunk">
        <h2 class="title">{{blog.title}}</h2>
        <h5 class="date">{{blog.pub_date}}</h5>
      </div>
      <div class="downChunk">{{blog.summary}} <a class="more" href={% url 'detail' blog.id %}> ...more </a></div>
    </div>
    {% endfor %}
  </ul>
</body>
{% endblock %}
